body{
    background: whitesmoke;
}

#code-img{
    height: 100px;
    width: 100px;
    text-align: center;
}

#code-img:hover{
    animation-name: shake;
    -webkit-animation-name: shake;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    cursor: pointer;
}

#caption{
    background: lightgray;
    opacity: .7;
    color: black;
    border-radius: 25px;
}
.code-imgs{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

/* .carousel-parallax{
    height: 400px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.image1{
    background-image: url(./images/laptop-code.jpeg);
    height: 400px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image2{
    background-image: url(./images/binary.jpg);
    height: 400px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* #car-img{
    height: 875px;
    top: 0;
} */

#nav{
    /* position: absolute; */
    width: 100%;
    z-index: 1000;
    position: fixed;
    overflow: hidden;
    /* background: linear-gradient(to bottom right,#1E90FF, whitesmoke); */
    border-bottom: .5px solid #1E90FF;
}

#nav-buttons{
    margin-left: auto;
    padding-right: 25px;
    padding-top: 10px;
    
}

#nav-button{
    margin-left: 10px;
}

#nav-name{
    color: whitesmoke; 
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: black;
    
}

#animate-name:hover{
    animation-name: hinge;
    -webkit-animation-name: hinge;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    cursor: wait;
}

#bio-pic{
    width: 200px;
    float: left;
    margin: 5px;
}

#bio-body{
    
    background: #cecece;
    width: 75%;

}

#bio{
    margin-top: 10px;
}

#media{
    width: 75%;
    margin: 0 auto;
    z-index: 1000;
    
}


.card{
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 10px;
}

.card-text{
    text-align: center;
}

#card-img{
    height: 200px;
}

#port-box{
    
}

h3{
    margin-bottom: 40px;
}
/* ======= Contact Section ======= */
#contactHead{
    text-align: center;
}
#contact-box{
    display: flex;
    justify-content: center;

    
}

#email{
    margin: 20px;
    padding:10px;
}

#phone{
    margin: 20px;
    padding: 10px;
}


#contactText{
    font-size: 1.2em;
    font-weight: bold;
}
/*======================*/

#names-contact{
    margin-bottom: 20px;
}
.prof-image{
    float: left;
    width: 150px;
    margin-right: 15px;
    

}

#prof-image{
    height: 200px;
    float: left;
    margin-right: 25px;
    border: 2px solid black;
}

#bio{
    font-size: 1.15em;
    
}

/* .bio-type{
    float: right;
} */

#submit{
    margin-bottom: 40px;
}

#train:hover{
    cursor: pointer;
}
#project:hover{
    cursor: pointer;
}
/* #project2:hover{
    cursor: pointer;
} */
#giphy:hover{
    cursor: pointer;
}
#crystal{
    cursor: pointer;
}
#trivia{
    cursor: pointer;
}
#rps{
    cursor: pointer;
}

#githubbutton{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 50%;
    height: 50px;
}

#linkedInButton{
    margin: 0 auto;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
/*=======================================MEDIA QUERY=================================*/
@media only screen and (max-width: 600px) {
    body{
        background: lightgrey;
    }
    
    .image1{
        background-image: url(./images/laptop-code.jpeg);
        height: 200px;
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .image2{
        background-image: url(./images/binary.jpg);
        height: 200px;
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #car-img{
        height: 450px;
        top: 0;
    }
    
    #nav{
    /* position: absolute; */
    width: 100%;
    z-index: 1000;
    position: fixed;
    overflow: hidden;
    /* background: #4F4A4A;
    border-bottom: 1px solid #1E90FF; */
    /* background: linear-gradient(to bottom right,#1E90FF, whitesmoke); */
    border-bottom: .5px solid #1E90FF;
    margin-bottom: 200px;
    }
    
    #nav-buttons{
        margin: 0 auto;
        justify-content: space-around;
        padding: 0px;
        
        
    }
    
    #nav-button{
        justify-content: space-around;
    }
    
    #nav-name{
        color: white;  
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: none;
    }
    
    #animate-name{
        justify-content: space-around;
        margin: 0 auto;
    }
    #animate-name:active{
        animation-name: hinge;
        -webkit-animation-name: hinge;
        -webkit-animation-duration: 2.5s;
        animation-duration: 2.5s;
        cursor: wait;
    }
    
    #bio-pic{
        width: 200px;
        float: left;
        margin: 5px;
    }
    
    #bio-body{
        
        background: white;
        width: 75%;
    
    }
    
    #bio{
        margin-top: 10px;
        display: inline-block;
        font-size: 15px;
        text-align: left;
    }
    
    #media{
        width: 75%;
        margin: 0 auto;
        z-index: 1000;
        
    }

    .card{
        display: inline;
        margin: 0 auto;
        position: relative;
        
        

    }

    .card-body{
        
        
    }

    #card-img{
        
    }
    
    .card-text{
        text-align: center;
    }

    .code-imgs{
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        margin-top: 45px;
    }

    #code-img{
        height: 50px;
        width: 50px;
        text-align: center;
    }
    #code-img:hover{
        animation-name: shake;
        -webkit-animation-name: shake;
        -webkit-animation-duration: 2.5s;
        animation-duration: 2.5s;
        cursor: pointer;
    }

    #prof-image{
        
        border: 2px solid black;
    }
    
}